Names: Max Chern | Ryan Peterman
UID:   304290221 | 704269982

All constraints are specified in create.sql

PRIMARY KEY CONSTRAINTS:
    1. Movie (unique id)
    2. Actor (unique id)
    3. Director (unique id)

REFERENTIAL INTEGRITY CONSTRAINTS:
    1. Every movie genre tuple is tied to a movie. If the movie dies, then so does its genre information.
    2. Every movie director tuple is tied to a movie. If the movie dies, then so
    does its movie director information.
    3. Every movie director tuple is tied to a director. If the director dies,
    then so does its movie director information.
    4. Every movie actor tuple is tied to a movie. If the movie dies, then so does
    its movie actor information.
    5. Every movie actor tuple is tied to an actor. If the actor dies, then so does its movie actor information.
    6. Every review tuple is tied to a movie. If the movie dies, then so does its
    review information.

CHECK CONSTRAINTS:
    1. Movie id must be greater than 0.
    2. Actor id must be greater than 0.
    3. Director id must be greater than 0.
    4. MovieGenre mid must be greater than 0.
    5. MovieDirector mid must be greater than 0.
    6. MovieDirector did must be greater than 0.
    7. MovieActor mid must be greater than 0.
    8. MovieActor aid must be greater than 0.
    9. Review mid must be greater than 0.

OTHER:
    1. Actor dob must not be NULL.
    2. Movie title must not be NULL.
    3. Actors must have names/not be NULL names.
    4. Directors must have names.
